.navitem{
  background-color:pink;
  border: 2px solid black;
  width: 175px;
  height: 25px;
  border: 2px solid black

}

.chilldude{
  border: 2px solid purple;
  float:right;
}
.chillpoem{
  float: left;
  margin-left: 45px;
  border: 3px dotted black;
}
ul {
  display: inline-flex;
}
li{
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

 li a:hover {
   background-color: #452;
 }
}
}

#one {
  background-color:pink;
  align-content: center;


  }
#two {
background-color: yellow;


}
#three{
background-color:lightyellow;



}
#four {
  background-color:hotpink;


}
#five {
  background-color: salmon;


}

.maintitle{
margin-left: 500px;
background-color: hotpink;
width: 225px;
}

.words{
  border: 2px solid black;
  border-radius:20px;
  width: 200px;
}
.palabras{
  background-color: lightyellow;
  width:400px;
  border: 2px dashed grey;
  margin-left: 45px;
  float: left;
}
.dos{
  background-color: lightyellow;
  width:200px;
  border: 2px dashed grey;
  margin-left:20px;
margin-top:15px;
margin-right: 0px;
  float:left;
  padding-left: 15px;
}
.pooh{
  float:
}
.sonnet130{
  background-color:lightpink;
  border:2px solid hotpink;
  width: 375px;
  margin-left: 400px;

}
.over{
  background-color:lightpink;
  border:2px solid hotpink;
  width: 375px;
  margin-left: 400px;


}
.irc_mi{
  border: 2px solid lightblue;
  display:inline-flex;
}

.sbchill{
  border:2px solid lightblue;

}
